* {
  margin: 0;
}

header, footer, .list {
  padding: 20px;
}

header, footer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.list {
  margin: auto;
}

.main {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.list {
  display: block;
  overflow-y: auto;
}