<div class="main">
  <header>
    <div><a ng-href="{{ '#!/' + vm.prev }}" ng-if="vm.prev > 0">{{ 'Page ' + vm.prev }}</a></div>
    <div>
      <input data-ng-model="search" placeholder="Search">
    </div>
    <div><a ng-href="{{ '#!/' + vm.next }}">{{ 'Page ' + vm.next }}</a></div>
  </header>
  <div class="list">
    <div ng-repeat="torrent in vm.torrents">
      {{torrent.date_released_unix*1000|date:'d/M HHmm'}} - <a ng-href="{{torrent.magnet_url}}">{{torrent.title}}</a> [{{torrent.seeds}}/{{torrent.peers}}]
    </div>
  </div>

  <footer>
    <div><a ng-href="{{ '#!/' + vm.prev }}" ng-if="vm.prev > 0">{{ 'Page ' + vm.prev }}</a></div>
    <div><a ng-href="{{ '#!/' + vm.next }}">{{ 'Page ' + vm.next }}</a></div>
  </footer>
</div>